<div id="footer">
  <div class="container">
    <div class="row" style="padding-top:2px;">
      <div class="col-md-4" style="padding-top:3px;"><p class="text-left" style="margin:0;font-size: 11px;">Hosted on GitHub Pages</p></div>
      <div class="col-md-4"><p class="text-center" style="margin:0">
        <a href="https://twitter.com/intent/tweet?button_hashtag=SbtNeoDependencies" class="twitter-hashtag-button" data-related="DiegoZambelliS" data-url="http://github.com/dzsessona/sbt-neo-dependencies">Tweet #SbtNeoDependencies</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-md-4"
      style="padding-top:2px;"><p class="text-right" style="margin:0;font-size: 11px;">Project maintained by 
        <a href="https://github.com/{{ site.github.author }}"
        style="color: #000; font-size:12px;"><strong>dzsessona</strong></a>
        <a href="http://twitter.com/DiegoZambelliS" style="color: #55ACEE"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="http://ie.linkedin.com/in/diegozambellisessona/" style="color: #1A84BC"><i class="fa fa-linkedin-square fa-lg"></i></a>
      </p></div>
    </div>
  </div>
</div>
