html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

li {
    text-align: justify;
    line-height: 18px;
    color:#5C5C5C;
    font-size:14px;
}